#modal {
    transform-origin: 0 50%;
    animation: modal 0.1s ease-in-out;
}

@keyframes modal {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
